<%include ../partials/header%>
 <!-- main caontainer starts here -->
    <div class="container">
      <!-- row starts here -->
      <div class="row">
        <!-- group list starts here 3 columns-->
        <div class="col-md-3" style="margin-top:90px;">
          <p class="lead">YelpCamp</p>
          <div class="list-group">
            <li class="list-group-item active">Info 1</li>
            <li class="list-group-item">Info 2</li>
            <li class="list-group-item">Info 3</li>
          </div>
          <!-- group list ends here -->
        </div>
        <!-- picture and card container starts here 9 columns-->
        <div class="col-md-9" style="margin-top:90px;">
          <!-- picture card starts here -->
          <div class="card">
            <img src="<%=foundcamp.image%>" class="card-img-top" alt="image" />
            <div class="card-body">
              <div class="imageTitle imagePrice d-flex justify-content-between">
                <a href="#"><h3><%=foundcamp.name%></h3></a>

                <h2>$9.00/Night</h2>
              </div>
              <p class="card-text description">
                <%=foundcamp.description%>
              </p>
            </div>
            <!-- picture card ends here -->
          </div>
          <!-- comment card starts here -->
          <div class="card commentCard mt-3">
            <div class="card-body">
              <div class="buttonHolder d-flex justify-content-end">
                <a
                  class="btn btn-success"
                  href="/campgrounds/<%=foundcamp._id%>/comments/new"
                  >Add a new Comment</a
                >
              </div>
              <!-- loop will start here -->
              <%foundcamp.comments.forEach(function(comment){%>
              <div class="authorname date commentText">
                <div
                  class="authoranddateholder d-flex justify-content-between mt-3"
                >
                  <h3><%=comment.author%></h3>
                  <h6>10 days ago</h6>
                </div>

                <%=comment.text%>
              </div>
              <!-- loop will end here -->
              <%})%>
            </div>
            <!-- comment card ends here -->
          </div>

          <!-- picture and  card container ends here 9 columns-->
        </div>

        <!-- <%# row ends here%> -->
      </div>

      <!-- <%#  main container ends here %> -->
    </div>

<%include ../partials/footer%>